body {
    font-family: 'Gentium Book Basic', serif;
    background: rgba(103, 103, 121, 0.579);
}

.header_div {
    background: rgb(61, 52, 52);
    color: rgb(219, 194, 162);
}

.header_div p {
    font-family: 'Gentium Book Basic', serif;
    color: darkslategray;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.main_div button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copy_right_footer {
    position: fixed;
    color: mediumturquoise;
    bottom: 0;
    width: 100%;
    font-size: 10ppx;
    background-color: gray;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 20px rgba(103, 103, 151, 0.579);
}